@model IEnumerable<LoginForm.Models.UserInfo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Login.css">
    <title>Search</title>
</head>
<body>
    <div>
        <h1 style="color:navajowhite;">Search</h1>
        <br />
        <form id="form" action="#">

            <div class="InputBox label">
                <table>
                    <tr>
                        <th>Full name</th>
                        <th>E-mail</th>
                        <th>Address</th>
                        <th>RoleID</th>
                        <th>UserID</th>
                        <th>Cellphone Number</th>
                        <th>Actions</th>
                    </tr>
                    <tbody>
                       @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FullName</td>
                                <td>@item.Email</td>
                                <td>@item.Address</td>
                                <td>@item.RoleID</td>
                                <td>@item.UserID</td>
                                <td>@item.Tel</td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button style="align-content:center">Search</button>
                @Html.ActionLink("Logout", "LoginPage", "Home")
            </div>
        </form>
    </div>
    <script>
        function validate() {
            const form = document.getElementById('form');
            const email = document.getElementById('email').value;

            var pattern = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i

            if (email.match(pattern)) {
                form.classList.add('valid')
                form.classList.remove('invalid')
            } else {
                form.classList.add('invalid')
                form.classList.remove('valid')
            }
            if (email == "") {
                form.classList.remove('invalid')
                form.classList.remove('valid')
            }
        }
    </script>
</body>
</html>
